INSTALL
aclocal.m4
ar-lib
autom4te.cache
compile
confdefs.h
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
node_modules
package-lock.json
py-compile
stamp-h1
test-driver

.deps
.libs

Makefile
Makefile.in
__pycache__
.dirstamp

*.lo
*.la
*.trs
*.o
*.log
